:root {
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  text-indent: -9999px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  max-width: 1600px;
  padding: 0 auto;
  display: flex;
  justify-content: center;
  background: #1a1c20;
}

header {
  flex: 0 0 132px;
  padding: 0 20px;
}
header #search_bar {
  display: flex;
  height: 80px;
  align-items: center;
  position: relative;
}
header #search_bar #search {
  display: block;
  border: none;
  background: inherit;
  padding: 10px 10px;
  color: #fcfcfc;
}
header #search_bar #search::-moz-placeholder {
  color: #6f6f6f;
  text-decoration: underline;
}
header #search_bar #search::placeholder {
  color: #6f6f6f;
  text-decoration: underline;
}
header #search_bar #search ~ button {
  position: absolute;
  right: 10px;
  display: block;
  width: 20px;
  height: 20px;
  display: block;
  border: none;
  background: url("https://i.postimg.cc/85FPdv3N/icons8-50.png") center center;
  background-size: cover;
  text-indent: -9999px;
}
header nav {
  padding-bottom: 16px;
  border-bottom: 1px solid #6f6f6f;
}
header nav ul li {
  display: flex;
  align-items: center;
  height: 25px;
}
header nav ul li:hover {
  background: #ff4350;
}
header .toggle_btn {
  position: absolute;
  display: none;
}
header .toggle_btn img {
  display: block;
  cursor: pointer;
}
header .last_activity li {
  margin-top: 20px;
  font-size: 12px;
}

.releases {
  flex: 1 0 100%;
  max-width: 900px;
  height: 5000px;
  padding-top: 72px;
  padding-left: 22px;
  background: #1a1c20;
}
.releases h2 {
  font-size: 22px;
  margin-bottom: 38px;
}
.releases .movie_cards ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
}
.releases .movie_cards ul li {
  position: relative;
  max-width: 270px;
  height: 166px;
  background: red;
  box-shadow: 0 2px 1px rgba(255, 255, 255, 0.1);
  transition: all 0.3;
  margin-bottom: 120px;
  cursor: pointer;
  transition: all 0.5s;
}
.releases .movie_cards ul li:hover {
  box-shadow: 0 2px 20px rgba(125, 232, 255, 0.6);
}
.releases .movie_cards ul li .rank {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 16px;
  border-radius: 28px;
  background: #ffb20f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.releases .movie_cards ul li .movie_img {
  width: 100%;
  height: 100%;
  background: #74f1f6;
  margin-bottom: 12px;
}
.releases .movie_cards ul li h3 {
  font-size: 16px;
  margin-bottom: 8px;
}
.releases .movie_cards ul li p.description {
  opacity: 0.5;
  font-size: 12px;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.releases .movie_cards ul li:hover {
  transform: scale(1.2);
  z-index: 20;
}
@media (max-width: 890px) {
  .releases .movie_cards ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 620px) {
  .releases .movie_cards ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=main.css.map */